
	{%load static%}
  {% load crispy_forms_filters %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="apeli" content="">

	 
	<title>qr_Pay</title>
	  
     
	<!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="{%static 'static/css/styles.css' %}">   
    <link rel="stylesheet" href="{%static 'static/bootstrap/css/bootstrap.min.css' %}">
<body >
  <div >
    <!-- Form to feed database -->
    <form  method="POST">
      {% csrf_token %} 
      <div class="contact"> 
      <img class="logo" src="{% static 'static/img/favicon.ico.'%}">
      <!-- display forms -->
      {{ form }}  
      </div>
    <div class="row" >
      <!-- display product images -->
      <img width=250px; height=300px; src="{% static 'static/img/headphone.png'%}" alt=""><button type="submit">Buy</button>
      <img width=400px; height=400px; src="{% static 'static/img/headphones.webp'%}" alt=""><button type="submit">Buy</button>
      <img width=400px; height=350px; src="{% static 'static/img/ps5.png'%}" alt=""><button type="submit">Buy</button>
      <img width=350px; height=300px; src="{% static 'static/img/speaker.jpg'%}" alt=""><button type="submit">Buy</button>
      <img width=400px; height=350px; src="{% static 'static/img/fridge.jpg'%}" alt=""><button type="submit">Buy</button>
      <img width=300px; height=400px; src="{% static 'static/img/xctrl.jpg'%}" alt=""><button type="submit">Buy</button>
    </div>
  </form>
</div>
</body>
</html>