 
.logo {   
    margin: 50px  600px;
    height :0%;
	width: 10%;     
}

.row{
    width: 1500px;
    height: 500px;
}
form {
    width: 550px;
    height: 450px;
     
}
 
.container{
    width: 1000px;
    height: 1000px;
}
 