body {
    width: 90%;
    margin: 0 auto;
}
header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b5b5b5;
}
.logo {
    width:200px; 
    height:200px;
    position: absolute;
    left: 50;
    top:0;
    content:""      
}
.wrapper{
    width:100%;
  }
  
  img, .false-image{
    max-width:100%;
    margin:1em 0;
    
    &.center{
      margin:1em auto;
      display:block;
    }
  }
  
  .row{
    width:100%;
    display:flex;
    flex-direction:row;
    .img{
      flex: 0 1 300px
    }
  }
  .justify-content-center{
    justify-content:center;
    
  }
  
  .false-image{
    width:100%;
    padding-bottom:10.5%
  }
  
  .background-centered{
    background-size:contain;
    background-repeat:no-repeat;
    background-position:50%;
  }
  
  .grid{
    display:grid
  }
  .grid.grid-center{
    justify-content:center;
    align-items:center;
  }