body {
    width: 90%;
    margin: 0 auto;
}
header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b5b5b5;
}
.logo {
    width:200px; 
    height:200px;
    position: absolute;
    left: 50;
    top:0;
    content:""      
}
  